---
const {
  src = "/images/hero.jpg",
  alt = "",
  label = "2025: PZ | NOVA",
} = Astro.props;
---

<div class="mask-wrap" aria-label={alt}>
  <!-- gradient blob behind -->
  <div class="mask-media-blur" aria-hidden="true" ></div>
  <!-- main img front -->
  <div class="mask-media" >
    <img src={src} alt={alt} />
  </div>

  <div class="mask-tag">{label}</div>
</div>

<style>
  .mask-wrap{
    position: relative;
    width: min(760px, 100%);
    margin: auto;
    padding: 32px 0;
    z-index: 2;
  }

  .mask-media-blur{
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    width: 120%;
    aspect-ratio: 16 / 7;

    background: linear-gradient(180deg, #F4A3B4 0%, #A3B8CA 100%);

    filter: blur(26px);
    opacity: 0.80;

    transform-origin: right;
    transform: scale(1.2);

    -webkit-mask-image: url("/mask/blob-mask-blur.png");
    mask-image: url("/mask/blob-mask-blur.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }


  .mask-media{
    width: 100%;
    aspect-ratio: 16 / 7;
    overflow: visible;
    position: relative;

    -webkit-mask-image: url("/mask/blob-mask.png");
    mask-image: url("/mask/blob-mask.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  .mask-media img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;

    object-position: center top;
    
    transform: translateY(-10%);

    animation: imgParallax linear both;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
}

@keyframes imgParallax{
  from { transform: translateY(50%) }
  to   { transform: translateY(0%) }
  }

  .mask-tag{
    position:absolute;
    z-index: 1;
    left: 50%;
    top: 55%;
    transform: translate(0, -400%);
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .02em;
    text-transform: uppercase;
    border: 2px solid #A3B8CA;
    padding: 6px 10px;
  }

@media (max-width: 760px){
  .mask-media{
    width: 90%;
  }
}
</style>
